<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/resources/css/404.css">
</head>

<body>
    <div class="not-found">404</div>
    <img src="/assets/images/404_img.png" alt="404 Image"/>
    <div class="page-not-found">Page Not found</div>
    <div class="removed">Sorry, the page you're looking for doesn't exist or has been removed.</div>
    <a href="/home" class="button" onclick="resetSelectable()"></a>
    <a href="/home" class="home" onclick="resetSelectable()">Back to Home</a>

    <script>
        function resetSelectable() {
            localStorage.removeItem('lastClickedLink');
        }
    </script>
</body>

</html>
