<link rel="stylesheet" href="/resources/css/navbar.css">
<div class="contain">
    <div class="logo-contain">
        <img class="logo" src="/assets/images/logo-sars.png" alt="Logo SARS">
    </div>
    <div class="navbar">
        <div class="white-pill"></div>
        <div class="selectable"></div>
        <div class="navlink">
            <a href="home" class="link">Dashboard</a>
            <a href="submission" class="link">Submission</a>
            <a href="rank" class="link">Rank</a>
        </div>
    </div>
    <div class="two-icon">
        <img src="/assets/icons/notification.png" alt="" class="notification">
        <a href="/logout" onclick="localStorage.clear()">
            <img src="/assets/icons/log-out.png" alt="" class="log-out">
        </a>
    </div>
</div>

<script>
    function updateSelectablePosition(link) {
        const selectableDiv = document.querySelector('.selectable');
        const linkLeft = link.offsetLeft;

        selectableDiv.style.left = `${linkLeft}px`;

        if (link.textContent === 'Rank') {
            selectableDiv.style.width = '130px';
        } else if (link.textContent === "Submission" || link.textContent === "Dashboard") {
            selectableDiv.style.width = '185px';
        } else {
            selectableDiv.style.width = '0px';
        }
    }

    window.addEventListener('load', () => {
        const lastClickedLink = localStorage.getItem('lastClickedLink');
        if (lastClickedLink) {
            const link = Array.from(document.querySelectorAll('.navlink .link')).find(link => link.textContent === lastClickedLink);
            if (link) {
                const selectableDiv = document.querySelector('.selectable');
                selectableDiv.style.transition = 'none';
                updateSelectablePosition(link);
                selectableDiv.offsetHeight; // Trigger reflow
                selectableDiv.style.transition = 'left 0.5s ease, width 0.5s ease';
            }
        }
    });
</script>
