<link rel="stylesheet" href="../../css/navbar.css">
<div class="navbar">
    <div class="white-pill"></div>
    <div class="selectable"></div>
    <div class="navlink">
        <a href="#" class="link">Dashboard</a>
        <a href="#" class="link">Submission</a>
        <a href="#" class="link">Rank</a>
    </div>
</div>
<script>
    document.querySelectorAll('.navlink .link').forEach((link, index) => {
        link.addEventListener('click', () => {
            event.preventDefault();
            const selectableDiv = document.querySelector('.selectable');
            const whitePill = document.querySelector('.white-pill');
            const linkLeft = link.offsetLeft;

            selectableDiv.style.left = `${linkLeft}px`;


            if (link.textContent === 'Rank') {
                selectableDiv.style.width = '130px';
            } else if (link.textContent === "Submission" || link.textContent === "Dashboard") {
                selectableDiv.style.width = '185px';
            } else {
                selectableDiv.style.width = '0px';
            }

        })
    })
</script>
