<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/assets/css/loginpage.css">
</head>
<body>
    <div class="login-container">
        <div class="left">
            <div class="container">
                <h1>SARS</h1>
                <p>Where every achievement matters, empowering students to<br>reach their full potential and celebrating their success<br>every step of the way</p>
                <div class="tagline">Track, Record, Succeed</div>
            </div>
        </div>
        <div class="right">
            <div class="img-logo">
                <img src="/assets/images/logo-sars.png" id="logo-sars" alt="" style="width: 120px;">
            </div>
            <div class="form-login">
                <h1>WELCOME BACK!</h1>
                <p>Log in to access your account</p>
                <form action="\" method="post">
                     <div class="input-container">
                        <label for="Email">Email</label>
                        <input type="text" name="email" id="email" placeholder="Enter your email">
                    </div>
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password">
                    </div>
                    <div class="check">
                        <div class="remember">
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember">Remember me</label>
                        </div>
                        <a href="/forget-password">forget password</a>
                    </div>
                    <a><button type="">Login</button></a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
