@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8f9fa;
  }

  .container {
  width: 95%;
  margin: 0 auto;
  }

  main{
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 40px;
  }
  .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 40px;
  }
  .content-header .actions {
      display: flex;
      gap: 20px;
  }
  .search {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 5px;
  }
  .search input {
      font-family: Outfit;
      border: none;
      padding: 5px;
      width: 150px;
  }
  .search-btn {
      background: none;
      border: none;
      cursor: pointer;
  }
  .filter{
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
  }
  .filter-btn {
      font-family: Outfit;
      background: none;
      border: none;
      padding: 5px;
  }
  .filter img {
      width: 20px;
  }

  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
  }
  th{
      font-weight: 500;
  }
  th, td {
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }
  
  th {
    color: black;
    padding: 15px;
  }


  /* Filter Modal */
  .filter-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
  }

  .filter-content {
      position: absolute;
      left: 58%;
      top: 30%;
      height: 319px;
      width: 355px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .filter-content .header-filter {
      background-color: #F9F9F9;
      display: flex;
      justify-content: space-between;
      padding: 0px 15px;
      border-bottom: 1px solid #ddd;
  }
  .filter-content .form-input {
      padding: 5px 20px;
  }
  .filter-content .input-field {
      margin-bottom: 5px;
  }
  .filter-content .input-field .label {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .filter-content .input-field .label p {
      color: #42548C;
      cursor: pointer;
  }
  .filter-content .input-field .label label{
      color: #AEAEAE;
  }
  .filter-content form input[type="text"] {
      width: 93%;
      padding: 10px;
      border: 1px solid #AEAEAE;
      border-radius: 5px;
  }
  .modal-actions {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ddd;
  }
  #reset-btn {
      font-family: Outfit;
      background: white;
      border: 1px solid #AEAEAE;
      color: black;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 10px;
  }
   #apply-btn{
      font-family: Outfit;
      background-color: #42548C;
      color: white;
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 10px;
  }

  .detail-actions {
      margin-top: -35px;
      display: flex;
      justify-content: end;
      gap: 10px;
      padding: 20px 40px;
  }
  .close-btn {
      float: right;
      border: none;
      background: none;
      font-size: 20px;
      cursor: pointer;
  }

  .pagination {
      font-family: Outfit;
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 20px 40px;
      border-top: 1px solid #ddd;
  }
  .pagination .btn-pagination {
      font-family: Outfit;
      background-color: white;
      color: #767676;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
  }
  .active{
    font-family: Outfit;
      background-color: #42548C;
      border: none;
      cursor: pointer;
      padding: 5px 9.5px;
      color: white;
      border-radius: 50%;
  }
  .btn-actions {
      background: none;
      border: none;
      cursor: pointer;
      align-items: center;
  }
